/*!
* © Devsfront
* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
*---------------------------------------------
*
* MAIN.CSS
*
*/

/* Font ********************************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* VARIABLES ********************************************* */

:root{

    /* color */
    --color-principal: #1c00a3;
    --color-secondaire: #cf2224;
    --color-paragraphe: #abacae;
    --color-black: #000;
    --color-white: #fff;

    /* Autre */
    --transition: .5s;
    
    --shadow-btn: 0px 0px 30px 0px rgba(53,56,240,0.5);
    --shadow-btn-red: 0px 0px 30px 0px #cf22256e;
    --shadow-business: 0px 0px 30px 0px rgba(0,0,0,0.16);
    --shadow-card-radius: 0px 0px 20px 0px rgba(0,0,0,0.13);
    --shadow-testamonial: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}


/* General code*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button:focus{
    outline: none;
}


/* INDEX ************************************ */
/* INDEX ************************************ */
/* INDEX ************************************ */